<article class=container>
	<section class="row photoBooth">
		<!-- this is where the Media lives, photo & video nd such -->
		<div class=span12>
			<header class="page-header">
				<h1>
					Our team of professionals
					<small>and not so professionals</small>
				</h1>
			</header>
			<ul class="thumbnails">
				<li class="span3">
					<a href="img/media/normal/Image004.jpg" rel="lightbox[album]" class="thumbnail">
						<img src="img/media/thumbs/Image004.jpg" alt="">
					</a>
				</li>
				<li class="span3">
					<a href="img/media/normal/Image000.jpg" rel="lightbox[album]" class="thumbnail">
						<img src="img/media/thumbs/Image000.jpg" alt="">
					</a>
				</li>
				<li class="span3">
					<a href="img/media/normal/Image009.jpg" rel="lightbox[album]" class="thumbnail">
						<img src="img/media/thumbs/Image009.jpg" alt="">
					</a>
				</li>
				<li class="span3">
					<a href="img/media/normal/Image005.jpg" rel="lightbox[album]" class="thumbnail">
						<img src="img/media/thumbs/Image005.jpg" alt="">
					</a>
				</li>
			</ul>
		</div>
	</section>
	<section class="row socialStuff">
		<!-- some text & a twitter unit -->
		<div class=span12>
			<header class="page-header">
				<h1>
					So, who are we?
					<small>everything about our company</small>
				</h1>
			</header>
		</div>
		<div class=span9>
			<h2>Info about the company</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam nec neque quis justo aliquam blandit. Quisque interdum felis vel tortor tincidunt molestie. Sed sollicitudin vehicula eros. In hac habitasse platea dictumst. Ut lobortis sapien sit amet est malesuada suscipit.</p>
			<p>Maecenas egestas magna at eros ultrices egestas. Donec nec erat ante, ac eleifend diam. Ut et purus sem. Aenean sit amet lorem egestas sapien hendrerit tempor.</p>
			<h2>Other things you must know</h2>
			<p>Suspendisse malesuada, ligula vitae molestie sodales, felis mauris consequat risus, in ornare quam lorem sed purus. Suspendisse at enim lectus.</p>
			<p>Suspendisse eleifend sagittis dolor sed vehicula. Nam pretium elit sem, vel volutpat leo. Donec elementum venenatis sapien, eu adipiscing neque accumsan pretium.</p>
			<h2>Some people on our team</h2>
			<ul>
				<li>James Watt - Engineer</li>
				<li>Leonardo da Vinci - Inventor & Genius</li>
				<li>Django Reinhardt - Jazzlegend</li>
				<li>Gordon Ramsay - Chef</li>
			</ul>
		</div>
		<div class=span3>
			<ul class="thumbnails">
				<li class="span3">
					<a href="img/media/normal/Image006.jpg" rel="lightbox[album1]" class="thumbnail">
						<img src="img/media/thumbs/Image006.jpg" alt="">
					</a>
				</li>
				<li class="span3">
					<a href="img/media/normal/Image010.jpg" rel="lightbox[album1]" class="thumbnail">
						<img src="img/media/thumbs/Image010.jpg" alt="">
					</a>
				</li>
				<li class="span3">
					<a href="img/media/normal/Image008.jpg" rel="lightbox[album1]" class="thumbnail">
						<img src="img/media/thumbs/Image008.jpg" alt="">
					</a>
				</li>
			</ul>
		</div>
	</section>
</article>
