<article class=container>
	<section class="row photoBooth">
		<!-- this is where the Media lives, photo & video nd such -->
		<div class=span12>
			<header class="page-header">
				<h1>
					Our team of professionals
				</h1>
			</header>
			<ul class="thumbnails">
				<li class="span3">
					<%= link_to image_tag("media/normal/wes.jpg"), "media/normal/wes.jpg", :rel=> "lightbox[album]", :class => "thumbnail" %>
					<h3>
						Wes Garrison<br />
						<small>Founder</small>
					</h3>
				</li>
				<li class="span3">
					<%= link_to image_tag("media/normal/kevin.jpg"), "media/normal/kevin.jpg", :rel=> "lightbox[album]", :class => "thumbnail" %>
					<h3>
						Kevin Denault<br />
						<small>IT</small>
					</h3>
				</li>
				<li class="span3">
					<%= link_to image_tag("media/normal/tim.jpg"), "media/normal/tim.jpg", :rel=> "lightbox[album]", :class => "thumbnail" %>
					<h3>
						Tim Agee<br />
						<small>IT</small>
					</h3>
				</li>
			</ul>
		</div>
	</section>
	<section class="row socialStuff">
		<!-- some text & a twitter unit -->
		<div class=span12>
			<header class="page-header">
				<h1>
					So, who are we?
					<small>everything about our company</small>
				</h1>
			</header>
		</div>
		<div class=span9>
			<h2>How we are different</h2>
			<p>
				Most IT people are socially awkward and speak some foreign language. Not us.
				We believe that the world deserves access to technology that makes you feel better about your work. That's why we always use plain language and make sure you feel comfortable with your IT systems.
			</p>
			<h2>How we help</h2>
			<p>
				You don't want to deal with your computer systems all day. We communicate proactively and always respond quickly so our clients can focus on their business.
				Whether you need someone available to answer questions when a program stops working or help executing a large scale IT project, we have the expertise to help.
			</p>
			<h2>How it works</h2>
			<p>
				If you are looking for an IT provider that responds quickly, communicates well, and speaks your language, we would love to meet you. We will sit down to discuss your needs and put together a plan to address them.
				When you are ready, we will start working through the plan while keeping you up to date on our progress.
				We would love the chance to show you how we can help. Give us a call today.
			</p>
		</div>
		<div class=span3>
			<ul class="thumbnails">
				<li class="span3">

				</li>
				<li class="span3">

				</li>
				<li class="span3">

				</li>
			</ul>
		</div>
	</section>
</article>
