<footer class=footer>
	<div class=top>
		<div class=container>
			<div class=row>
				<div class=span5>
					<h3>Contact information</h3>
					<%= render 'partials/address' %>
				</div>
				<div class=span7>
					<h3>Sign up for the newsletter!</h3>
					<p>Want some easy to use IT tips? Get them here!</p>
					<form class="form-horizontal">
						<div class="control-group">
							<div class="input-append input-prepend">
								<span class=add-on>@</span><input class=span4 type=text size=16><button class=btn type=button>sign up</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div class=bottom>
		<div class=container>
			<div class=row>
				<div class="span12">
					<p>&copy; Databasically 2011-2012 all rights reserved - <a href="#">Terms of Service</a></p>
				</div>
			</div>
		</div>
	</div>
</footer>